@model ICollection<CRUD.Entities.Pedido>
@{
    ViewBag.Title = "Consultar pedidos";
}

<div class="jumbotron jumbotron-fluid" style="margin-top: 70px">
    <div class="container">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Funcionário</th>
                    <th scope="col">Tamanho</th>
                    <th scope="col">Empresa</th>
                    <th scope="col">Horário</th>
                    <th scope="col">Arroz</th>
                    <th scope="col">Feijão</th>
                    <th scope="col">Refogado</th>
                    <th scope="col">Proteina</th>
                    <th scope="col">Salada</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <th scope="row">@item.Id</th>
                        <td>@item.Funcionario</td>
                        <td>@item.Tamanho</td>
                        <td>@item.Empresa.Nome</td>
                        <td>@item.Horario.ToString()</td>
                        @if (item.Arroz)
                        {
                            <td>Sim</td>
                        }
                        else
                        {
                            <td>Não</td>
                        }
                        @if (item.Feijao)
                        {
                            <td>Sim</td>
                        }
                        else
                        {
                            <td>Não</td>
                        }
                        @if (item.Refogado)
                        {
                            <td>Sim</td>
                        }
                        else
                        {
                            <td>Não</td>
                        }
                        @if (item.Proteina)
                        {
                            <td>Sim</td>
                        }
                        else
                        {
                            <td>Não</td>
                        }
                        @if (item.Salada)
                        {
                            <td>Sim</td>
                        }
                        else
                        {
                            <td>Não</td>
                        }
                    </tr>
                }
            </tbody>
        </table>
        <div class="row" align="right" style="margin-top: 50px; margin-right:auto">
            @Html.ActionLink("Voltar", "Index", "Home", null, new { @class = "btn btn-primary" })
        </div>
    </div>
</div>

